 body{
            background-image:url("https://img.freepik.com/fotos-premium/campo-estrellas-contra-cielo-noche_1048944-25328435.jpg?semt=ais_hybrid&w=740&q=80");
            color: white;
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            flex-direction: column;
        }

a{
    text-decoration: none;
    background-color: white;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}