  body{
            background-image:url("https://img.freepik.com/fotos-premium/campo-estrellas-contra-cielo-noche_1048944-25328435.jpg?semt=ais_hybrid&w=740&q=80");
            color: white;
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            flex-direction: column;
        }
        #contenedor{
            margin-top: 75px;
            width: 50%;
            height: 50%;
            display: grid;
            grid-template-columns: 50vh 50vh 50vh 50vh;
        }
        #Cargar{
            background-color: white;
            color: black;
        }